body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0%;
  background-color:wheat
}

h1 {
  font-size: 70px;
  margin: 0;
}
p {
  color: #fff;
}
.rg {
  color: rgb(255, 255, 255);
}

.hero {
  position: relative;
  height: 100vh;
  background-image: url("../asset/images/heroBg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.fa-fingerprint{
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  font-size: 40px;
  color: #fff;
}
.heroDetails {
  width: 50%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link-open {
  margin-top: 10px;
  display: inline-block;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  font: weight 700px;
  text-decoration: none;
  background: #fff;
  padding: 10px 10px;
  border-radius: 10px;
  transition: 0.5s;
  text-align: center;
  width: 100px;
  margin-left: 400px;
  
}
.link-open:hover {
  background: #333;
  color: #fff;
}
.link-open:active{
  color: darkblue;
}
.ss {
  color: green;
}
.middle {
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: #fff;
  background: #1a1e20;
  height: 300px;
  padding: 0px 150px;
}

.middleCard {
  border: dashed 2px #676767;
  width: 210px;
  height: 180px;
  border-radius: 0px 40px 0px 0px;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 0;
}
.middleCard:hover {
  border: solid 10px #4F87b0;
  color: brown;
}
.middleCard:active{
  color: yellow;
}
.middleCard h3 {
  font-size: 40px;
  margin: 20px 0px;
}
.middleCard h4 {
  font-size: 25px;
  margin: 20px 0px;
}
.last {
  background-color: #3f4e70;
}
.learn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.box {
  border-radius: 40px;
  box-shadow: 10px 10px 30px rgb(98, 98, 98);
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
}
#qr {
  border-left: 7px solid tomato;
}
#qd {
  border-left: 7px dashed blue;
}

.heroImage {
  height: 100%;
}
.alone {
  color: green;
}
.footer {
  color: black;
}
.finish {
  background-color: #3f4e70;
  display: flex;
  justify-content: space-between;
}
.roll {
  display: flex;
  padding-top: 70px;
}
.lk {
  border: solid;
  padding: 10px;
}
.looking {
  background-color: #191421;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.grid-item {
  padding: 40px;
}
.h3 {
  color: aqua;
  margin: 0;
}
.s3 {
  text-align: center;
  background-color: #3f4e70;
}
footer p {
  margin-bottom: 0%;
  text-align: center;
  background-color: #191421;
}
table,th,td{
  border:dashed green;
  border-collapse: collapse;
  width: 500px;
  text-align:center;
}