body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0%;
}
h1{
    font-size:50px;
}
p{
    color:blue;
}
.rg{
    color:brown;
}
section{
    display:flex;
    margin-bottom: 100px;

}
.rf{
    width:50%;
padding-left: 10px;

}
.rf img{
width: 80%;
}
.link-open{
    color: aliceblue;
   font: weight 700px;;
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    background-color:orange;
    padding:10px 30px;
  border-radius: 40%;
}
.top{
background-image: url(./istockphoto-1398473177-170667a.jpg);
height: 500px;

}
.ss{
    color:green;
}
.middle{
    background-image: url(./What-is-Website.png);
    background-repeat: no-repeat;
 
}


